services:
   dnsmasq:
      build: dnsmasq/.
      image: ronaldvk90/dnsmasq
      network_mode: "host"
      cap_add:
      - NET_ADMIN
      - NET_RAW
      restart: always
      env_file: .env
   tftp:
      build: tftp/.
      image: ronaldvk90/tftp
      ports:
      - "69:69/udp"
      volumes:
      - tftpboot:/var/tftpboot
      - ./tftp/default:/var/tftpboot/pxelinux.cfg/default
      restart: always
      env_file: .env
   webserver:
      build: ./webserver/
      ports:
      - 80:80
      volumes:
      - ./webserver/www:/var/www/html/
      networks:
      - internal
      restart: always
      env_file: .env
   php: 
      image: php:fpm-alpine
      volumes:
      - ./webserver/www:/var/www/html/
      networks:
      - internal
      restart: always
      env_file: .env
volumes:
   tftpboot:
      external: false
networks:
   internal:
      driver: bridge
